:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 7rem;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

nav img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.discord-logo {
  width: 13rem;
  height: 3rem;
  margin-left: 2rem;
}

#menu-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.hero {
  display: flex;
  /* max-height: 100vh; */
  padding: 3rem;
  position: relative;
  /* padding-top: 10rem; */
  /* border: 1px white solid; */
  box-sizing: border-box;
}
.hero h1 {
  max-width: 40%;
  line-height: 1;
  /* border: 1px white solid; */
}

.hero p {
  /* width: fit-content; */
  max-width: 50%;

  /* border: 1px white solid; */
}
.hero__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  min-width: fit-content;
  /* border: 1px white solid; */
}

.btn {
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.btn-mac {
  background-color: white;
}
.btn-browser {
  color: white;
  background-color: black;
}

.hero img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 65%;
  /* border: 3px blue solid; */
}
